aiofiles>=0.6.0
aiohttp[speedups]>=3.7.3
asyncurban
beautifulsoup4>=4.9.1
colour
cowpy>=1.1.0
dnspython>=2.0.0
futures==2.2.0
gitpython>=3.1.11
google-api-python-client>=1.12.8
google-auth-httplib2>=0.0.4
google-auth-oauthlib>=0.4.2
git+https://github.com/Joeclinton1/google-images-download@patch-1
googletrans==3.1.0a0
gtts
hachoir>=3.1.1
heroku3>=4.2.3
html-telegraph-poster>=0.2.31
lyricsgenius
motor>=2.3.0
numpy
oauth2client>=4.1.3
Pillow==9.0.1
psutil>=5.7.3
pybase64>=1.1.1
PyDictionary>=2.0.1
pymediainfo
git+https://github.com/ashwinstr/pyrogram.git@x21
# git+https://github.com/pyrogram/pyrogram.git@master
# pyrogram==1.4.7
pySmartDL>=1.3.4
python-dotenv>=0.15.0
pytz>=2020.4
rarfile>=4.0
removebg>=0.4
requests>=2.25.0
search-engine-parser
selenium==3.141.0
setuptools>=60.0.4
spamwatch>=0.3.0
speedtest-cli>=2.1.3
stagger>=1.0.0
telegraph>=1.4.1
tgcrypto
urbandict>=0.5
vcsi
wget>=3.2
wikipedia>=1.4.0
youtube_dl
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
ruamel.yaml==0.17.21
ujson>=4.0.1
youtube-search-python==1.5.1
feedparser>=6.0.2
